doctype html
html
  head
    link(href="https://fonts.googleapis.com/css?family=Inter&display=swap", rel="stylesheet")
    link(href="/css/main.css", rel="stylesheet")
    title Document
  body
    .v1912_3
      .v1914_21
      span.v1914_34 Slogan
      span.v1914_35 Jelahi UKOR Valorant
      .v1914_36
      .v1914_41
      span.v1914_37 Profil UKOR Valorant
      .v1914_42
      span.v1914_43 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      span.v1914_44 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      span.v1914_46 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      span.v1914_48 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      span.v1914_50 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      .v1924_219
        .v1924_220
        .v1924_221
        .v1924_222
      .v1914_56
      .v1914_58
      span.v1914_60 FAQ
      .v1914_61
      .name
      .name
      .v1914_70
      .v1914_72
      .v1914_74
      span.v1914_77 Lorem Ipsum ?
      span.v1914_78 Lorem Ipsum ?
      span.v1914_80 Lorem Ipsum ?
      .v1918_218
        .v1918_206
          .v1918_207
          .v1918_208
          span.v1918_209 Berita
          span.v1918_210 Berita
          span.v1918_211 Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          span.v1918_212 Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          .v1918_213
          span.v1918_214 Selengkapnya
          .v1918_215
          span.v1918_216 Selengkapnya
      .v1926_255
        .v1926_240
          .v1926_242
          .v1926_243
          span.v1926_244 Today
          span.v1926_245 1 Januari 2022
          .name
          span.v1926_247 Tanggal
          span.v1926_248 Acara
          span.v1926_249 Lokasi
          span.v1926_250 Waktu
          span.v1930_78 Link Pendaftaran
          .name
          .name
          .name
          .name
          .name
          span.v1930_7 13 : 03
      .v1926_256
      span.v1926_257 Pendaftaran Anggota UKOR Valorant 2024
      span.v1926_259 Informasi Pendaftaran
      span.v1926_261 Informasi Pendaftaran
      .v1926_262
      span.v1926_263 Selengkapnya
      .v1926_265
      span.v1926_266 Daftar
      .v1926_278
      span.v1926_280 @ukormaranatha
      .v1926_281
      span.v1926_282 @ukormaranatha
      .v1926_284
      span.v1926_285 @ukormaranatha
      .v1930_16
        .v1930_3
        .v1914_20
        span.v1914_11 Profil
        span.v1914_14 Pendaftaran
        span.v1914_16 Jadwal Kegiatan
        span.v1914_18 Berita
        span.v1914_33 Logo
